<!DOCTYPE html>
<html lang="en">
<head>
  <!-- This is how the offical docs want me to provide HTMX from a CDN! this is the minified version -->
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <title>Div Soup Example</title>
  <style>
    .bg-accent { background-color: lightblue; }
    .padding-4 { padding: 0.5rem; }
    .rounded-2 { border-radius: 0.5rem; }
    .bg-accent:hover { background-color: deepskyblue; cursor: pointer; }
  </style>
</head>

<script>
  function doStuff() {
      alert("Stuff was done!");
  }
</script>

<a href="nfs/">Secret NFS mount CLICK HERE! 🙀</a>

<h2>The first HTMX-powered Button 😼  λ-wow!</h2>

<button hx-get="http://localhost:8080/httpbin" hx-target="#contact-ui" hx-swap="outerHTML">
    Invoke Foo
</button>


<h3>Contact-ui div:</h3>
  <p id="contact-ui">
    Paragraph to be replaced
  </p>
</html>


<h1>Get form:!</h1>

<form action="http://localhost:8080/httpbin" method=GET>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form>

<h1>POST form:!</h1>
<form action="http://localhost:8080/httpbin" method=POST>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="Firstname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form>

<h2>HTML Notes: div-tag Soup</h2>
<!-- This is an example of "div-soup" because instead of using a <button>-tag, we're
using a div and then via metadata give it button semantics -->
<div class="bg-accent padding-4 rounded-2"
  role="button"
  tabindex="0"
  onclick="doStuff()">Do stuff</div>

<h2>More HTMX tests</h2>
<details open>
  <summary>Details  </summary>
  Something small enough to escape casual notice.
</details>

<h2>htmx "click to edit"-example:</h2>
<div hx-target="this" hx-swap="outerHTML">
    <div><label>First Name</label>: Joe</div>
    <div><label>Last Name</label>: Blow</div>
    <div><label>Email</label>: joe@blow.com</div>
    <button hx-get="/contact/1/edit" class="btn primary">
    Click To Edit
    </button>
</div>
