<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="UTF-8">
  <title>SOP Demo</title>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="jojo"></script>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Profile</h1>
   <p>You are ... TODO extract information from OIDC token here</p>
   <br>


<br><br>
<p>
  Add profile fields here, allow to save and see if we can interact back with keycloak or if we just use keyclaok for auth and identity infromation in a read-only fashion
</p>
</body>
</html>
